[NetDev]
Name=bridge0
Kind=bridge

[Bridge]
DHCP=yes
IPv6AcceptRA=yes

[Address]
Address=192.168.1.1/24

[Address]
Address=fd00::1/64

[Route]
Destination=0.0.0.0/0
Gateway=192.168.1.254

[Route]
Destination=::/0
Gateway=fd00::fffe